* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: whitesmoke;
}

.color-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
}

.color-box:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.nested-box {
  height: 75px;
  width: 75px;
  transition: all 0.2s ease-out;
  background: blueviolet;
}

.title {
  color: #ccc;
  font-size: 2.5em;
  margin: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.25em;
}
